.card {
    width: 140px;
    height: 190px;
    transform: rotateY(0deg);
    transition: transform .3s linear;
    background-image: url('images/cardBack_blue5.png');
}

.card-half-rotate {
    transform: rotateY(90deg)
}

.card-front-visible.card-clubs-A {
    background-image: url('images/cardClubsA.png');
}
